@font-face {
  font-family: 'Valorant';
  src: url('fonts/Valorant.ttf') format('ttf'),
    url('fonts/Valorant.ttf') format('ttf');
  font-family: 'Gilroy-Regular';
  src: url('fonts/Gilroy-Regular.ttf') format('ttf'),
    url('fonts/Gilroy-Regular.ttf') format('ttf');
}

html {
  width: 100%;
}

:root {
  --card-height: 400px;
  --card-width: 300px;
}

#skip {
  position: absolute;
  left: -400px;
  background-color: #ffffff;
  padding: 10px;
}

#skip:focus {
  display: inline-block;
  left: 10px;
  z-index: 1000;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  /* padding: 40px; */
  background: #0f1822;
  background-image: url("../images/bgimg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 20em;

}

h1 {
  text-align: center;
  color: #ff4654;
  font-size: 2.5em;
  font-family: 'Valorant', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 60px 0 40px 0;
}

p {
  text-align: center;
  color: #fff;
  font-family: 'Gilroy-Regular', sans-serif;
  margin: 10px 60px 60px;
  font-size: 16px;
  line-height: 2;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(black, transparent);
  padding: 40px;

}

.landing {
  margin: 200px 0 80px;
}

.logo {
  width: 100px;
  height: 40px;
  margin: 0 10px;
  display: block;
}

h2 {
  text-decoration: none;
  text-align: center;
  font-family: 'Valorant', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #fff;
  margin: 60px 60px;
  padding: 10px;
  border: solid #ff4654;
  border-width: 1px 0 1px 0;
}

h3 {
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ff4654;
  margin: 0;
  text-align: center;
}

footer {
  background-color: #191c29;
  color: #fff;
  text-align: end;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer {
  font-size: 12px;
}

/* -------------------
----------------------
  agent card
  ---------------------
  --------------------- */

.card {
  width: 300px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
  perspective: 2500px;
  margin: 0 20px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 300px;
  height: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  opacity: 0.3;
  filter: blur(3px);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.container a {
  text-decoration: none;
  color: #fff;
}

.title {
  width: 100%;
  font-size: 20px;
  transition: transform 0.5s;
}

.card:hover .title {
  transform: translate3d(0%, -40px, 100px);
  color: #ff4654;
}

.character {
  width: 70%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}



.grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 50%;
  gap: 10px;
  justify-items: center;
}

.container {
  margin: 10px 0;
}

/* -------------------
----------------------
  nav
  ---------------------
  --------------------- */

nav ul.menu {
  display: flex;
  list-style-type: none;
  color: snow;
  flex-direction: column;

}

nav ul.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 70px;
  padding: 30px;
  display: block;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}

nav ul.menu li a:hover {

  color: #fff;
  transform: translateX(10px);
  transition: 0.2s ease-in;

}

nav ul.menu li a.active {
  font-weight: bold;
  color: #ff4654
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 2rem;
  right: 3.5rem;
  width: 3rem;
  height: 3rem;
  padding: 4px;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-120%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #191c29;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.title {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px;
  border: 0;
}

/* -------------------
----------------------
  button
  ---------------------
  --------------------- */

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}

a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 70px;
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
  margin: 0px auto 100px;
}

.btn::before {
  content: '';
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ff4654;
  border-bottom-color: #ff4654;
  transform: scale(0.1, 1);
}

a.btn:hover {
  letter-spacing: 2px;
  color: #ff4654;
}

.btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* transition: all 0.3s; */
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.role {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.role img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.agent-image {
  width: 70%;
  height: 70%;
  display: block;
  margin: 20px auto;
  object-fit: cover;

}

.gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* -------------------
----------------------
  tablet view
  ---------------------
  --------------------- */

@media screen and (min-width:768px) {

  .hamburger,
  .closeIcon,
  .showMenu {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }

  nav ul.menu li a {
    font-size: 20px;
    padding: 30px;
  }

  .card {
    width: 200px;
    height: 400px;
    padding: 20px;
  }

  .wrapper {
    width: 300px;
  }

  .title {
    font-size: 28px;
  }

  .character {
    width: 100%;
  }

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 20px;
  }

  .btn {
    width: 250px;
  }

  .agent-image {
    width: 40%;
    height: 40%;
  }

  h3 {
    font-size: 3em;
  }

  nav ul.menu {
    display: flex;
    list-style-type: none;
    color: snow;
    flex-direction: row;
    padding: 0 40px 0 0;
  }

  nav ul.menu li a:hover {

    color: #fff;
    transform: translateY(5px);
    transition: 0.2s ease-in;

  }

  .hamburger {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: transparent;
    padding: 10px;
    transform: none;
    justify-content: flex-end;
  }

  .showMenu {
    display: none;
  }

}

/* -------------------
----------------------
    large tablet view
  ---------------------
    --------------------- */


@media screen and (min-width: 960px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }

  .fourth {
    display: none;
  }
}

/* -------------------
----------------------
  desktop view
  ---------------------
  --------------------- */

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }

  .card {
    width: 200px;
    height: 400px;
    padding: 20px;
  }

  h2 {
    margin: 0 40px 70px;
  }

  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 280px;
    height: 100%;
    z-index: -1;
  }

  .fourth {
    display: block;
  }

  .title {
    font-size: 28px;
  }

  .character {
    width: 100%;
  }

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 20px;
  }

  .btn {
    width: 250px;
  }

  .agent-image {
    width: 40%;
    height: 40%;
  }

  h3 {
    font-size: 3em;
  }

  nav ul.menu {
    display: flex;
    list-style-type: none;
    color: snow;
    flex-direction: row;
    padding: 0 40px 0 0;
    /* justify-content: space-around; */
  }

  nav ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 30px;
    display: block;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

  }

  nav ul.menu li a:hover {

    color: #fff;
    transform: translateY(-5px);
    transition: 0.2s ease-in;

  }

  nav ul.menu li a.active {
    font-weight: bold;
    color: #ff4654
  }

  .hamburger {
    display: none;
  }
}